<!-- 
/* 
 * GmARRevenueTrack.html : This html is used for revenue dashboard
 * @author Mahavishnu
*/ 
-->

<!-- jQuery library -->

<!-- Latest compiled JavaScript -->
<div class="page-wrapper" >
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor" style="font-weight: 500;">{{headerName}}</h3>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">{{headerName}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
     <section class="row" >
        <div id="revenue-main" class="col-12">
            <div class="mb-0 card">
                <div class="card-body">
                    <form class="form-body needs-validation" novalidate>
                        <div class="row overlldiv">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right  col-md-3 ">
                                        <!-- <span class="text-danger">* </span> -->
                                        Company</label>
                                    <div class="col-md-8">
                                        <select id="strCompanyId" class="form-control custom-select"
                                            ng-model="selectedCompany" tabindex="1"
                                            data-ng-change="fnchangeCompany(selectedCompany)">
                                            <!--  <option value="">[Choose One]</option> -->
                                            <option data-ng-repeat="comp in compList" value="{{comp.companyId}}">
                                                {{comp.companyName}}</option>
                                        </select>
                                        <!--  <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div> -->
                                    </div>
                                </div>
                            </div>
				    	</div>
				    	
				    	
	<div class="row overlldiv">
    <div class="col-md-4">
      <div class="inner border border-cusbl">
          <div class="panel-heading bg-sblue">
              <div class="row"><div class="col-md-10 col-sm-10 text-left" style="font-weight:bold"><i class="fa fa-refresh" aria-hidden="true" ng-click="fnFetchPendingApprovalWidgets()"></i> Pending Approval </div>
                  <div class="col-md-2 col-sm-2">
					<div id="preloader-for-pendappcnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-pendappcnt"  style="font-weight:bold">{{strPendAppCnt}}</div>
				  </div></div>
          </div>
          <div class="panel-body">
              <div class="row"><div class="col-md-10 col-sm-10 text-left">Today</div>
              <div class="col-md-2 col-sm-2">
              	<div id="preloader-for-pendapptodaycnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-pendapptodaycnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(0,110120)">{{strPendAppTodayCnt}}</a></div>
              </div></div>
              <div class="row"><div class="col-md-10 col-sm-10 text-left">1 Day</div>
              		<div class="col-md-2 col-sm-2">
              			<div id="preloader-for-pendapponecnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-pendapponecnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(1,110120)">{{strPendAppOneCnt}}</a></div>
              		</div></div>
              <div class="row"><div class="col-md-10 col-sm-10 text-left">2 Days</div>
              		<div class="col-md-2 col-sm-2">
						<div id="preloader-for-pendapptwocnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-pendapptwocnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(2,110120)">{{strPendAppTwoCnt}}</a></div>
              
					</div></div>
              <div class="row"><div class="col-md-10 col-sm-10 text-left">>2 Days</div>
				<div class="col-md-2 col-sm-2">
				<div id="preloader-for-pendappgreatertwocnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-pendappgreatertwocnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(3,110120)">{{strPendAppGreaterTwocnt}}</a></div>
				</div></div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="inner border border-cusbl">
          <div class="panel-heading bg-sblue">
              <div class="row"><div class="col-md-10 col-sm-10 text-left"  style="font-weight:bold"><i class="fa fa-refresh" aria-hidden="true" ng-click="fnFetchunRecognizeWidgets()"></i> UnRecognized </div>
                  <div class="col-md-2 col-sm-2">
					<div id="preloader-for-unreccnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-unreccnt"  style="font-weight:bold">{{strUnRecCnt}}</div>
				  </div></div>
          </div>
          <div class="panel-body">
              <div class="row"><div class="col-md-10 col-sm-10 text-left">Today</div>
              <div class="col-md-2 col-sm-2">
              	<div id="preloader-for-unrectodaycnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-unrectodaycnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(0,110121)">{{strUnRecTodayCnt}}</a></div>
              </div></div>
              <div class="row"><div class="col-md-10 col-sm-10 text-left">1 Day</div>
              		<div class="col-md-2 col-sm-2">
              			<div id="preloader-for-unreconecnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-unreconecnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(1,110121)">{{strUnRecOneCnt}}</a></div>
              		</div></div>
              <div class="row"><div class="col-md-10 col-sm-10 text-left">2 Days</div>
              		<div class="col-md-2 col-sm-2">
						<div id="preloader-for-unrectwocnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-unrectwocnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(2,110121)">{{strUnRecTwoCnt}}</a></div>
              
					</div></div>
              <div class="row"><div class="col-md-10 col-sm-10 text-left">>2 Days</div>
				<div class="col-md-2 col-sm-2">
				<div id="preloader-for-unrecgreatertwocnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-unrecgreatertwocnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(3,110121)">{{strUnRecGreaterTwocnt}}</a></div>
				</div></div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="inner border border-cusbl">
          <div class="panel-heading bg-sblue">
              <div class="row"><div class="col-md-10 col-sm-10 text-left"  style="font-weight:bold"><i class="fa fa-refresh" aria-hidden="true" ng-click="fnFetchNoPdfWidgets()"></i> UnRecognized - no PDF </div>
                  <div class="col-md-2 col-sm-2">
					<div id="preloader-for-nopdfcnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-nopdfcnt"  style="font-weight:bold">{{strNoPdfCnt}}</div>
				  </div></div>
          </div>
          <div class="panel-body">
              <div class="row"><div class="col-md-10 col-sm-10 text-left">Today</div>
              <div class="col-md-2 col-sm-2">
              	<div id="preloader-for-nopdftodaycnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-nopdftodaycnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(0,110122)">{{strNoPdfTodayCnt}}</a></div>
              </div></div>
              <div class="row"><div class="col-md-10 col-sm-10 text-left">1 Day</div>
              		<div class="col-md-2 col-sm-2">
              			<div id="preloader-for-nopdfonecnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-nopdfonecnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(1,110122)">{{strNoPdfOneCnt}}</a></div>
              		</div></div>
              <div class="row"><div class="col-md-10 col-sm-10 text-left">2 Days</div>
              		<div class="col-md-2 col-sm-2">
						<div id="preloader-for-nopdftwocnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-nopdftwocnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(2,110122)">{{strNoPdfTwoCnt}}</a></div>
              
					</div></div>
              <div class="row"><div class="col-md-10 col-sm-10 text-left">>2 Days</div>
				<div class="col-md-2 col-sm-2">
				<div id="preloader-for-nopdfgreatertwocnt">
                       <div class='w-100'> <i class='fas fa-spinner fa-pulse'></i> </div>
                     </div>
                  	 <div id="div-for-nopdfgreatertwocnt"><a style="text-decoration: underline; cursor:pointer;" data-ng-click="fnRevenueReport(3,110122)">{{strNoPdfGreaterTwocnt}}</a></div>
				</div></div>
          </div>
      </div>
    </div>
  </div>
	
	<div id="conFModalRevenue" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content" width="100%">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter">{{confirmheader}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <span style="font-weight:bold"> {{confirmMsg}}</span> <span>{{confirmMsgVal}}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info"
											data-dismiss="modal" data-ng-click="confirmApproveMsg()">OK</button>
										<button type="button" class="btn btn-danger waves-effect"
											data-dismiss="modal" >Cancel</button>
										
				    </div>
                    
                </div>
            </div>
        </div>
  
  	<div id="pdfDrillDownModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                         <a id="do-pdf-download" style="color:black;"><i class="fa fa-download"></i></a>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
                        </button>
                    </div>
                    	 <div class="row" style="height:100%">
                       		 <div class="col-12">
	                            <div class="card">
	                                <div class="card-body">
	                                <div id="preloader-pdfdrildown">
                       <div class='w-100'> <i style="color: #fff;" class='fas fa-spinner fa-pulse fa-3x '></i> </div>
                     </div>
	                    	 			 <div id="holder" class="hide" style="max-width:900px"></div>  
	                    	 		</div>
	                    	 	 </div>
                    	 	</div>
                    	 </div>
                    	 			 
                </div>
            </div>
        </div>
  
  	
			<div class="row reportdiv" style="display: none">
			<div class="col-12">
			    <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right  col-md-3 ">
                                    <!-- <span class="text-danger">* </span> -->
                                    Company</label>
                                    <div class="col-md-8">
                                         <select id="strCompanyId" class="form-control custom-select"
                                            ng-model="selectedCompany" tabindex="1"
                                            data-ng-change="fnchangeCompany(selectedCompany)">
                                            <!--  <option value="">[Choose One]</option> -->
                                            <option data-ng-repeat="comp in compList" value="{{comp.companyId}}">
                                                {{comp.companyName}}</option>
                                        </select>
                                   
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Category</label>
                                    <div class="col-md-8">
                                        <select id="strCategoryId" class="form-control custom-select"
                                            ng-model="selectedCategory" tabindex="2"
                                            data-ng-change="fnchangeCategory(selectedCategory)">
                                            <option value="">[Choose One]</option>
                                            <option data-ng-repeat="category in categorylist" value="{{category.codeId}}">
                                                {{category.codeNm}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Aging</label>
                                    <div class="col-md-8">
                                        <select id="strAgingId" class="form-control custom-select"
                                            ng-model="selectedAging" tabindex="3"
                                            data-ng-change="fnchangeAging(selectedAging)">
                                           <option value="">[Choose One]</option>
                                            <option data-ng-repeat="aging in aginglist" value="{{aging.codeNmAlt}}">
                                                {{aging.codeNm}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
			    
			    
			   
			    <div class="row">
			     <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">DO ID</label>
                                    <div class="col-md-8">
                                        <input type="search"  name="strOrderId"
                                            class="form-control" data-ng-model="strOrderId"
                                            tabindex="4">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Rep Account</label>
                                    <div class="col-md-8" id="revTrackAcc-div">
                                        <input type="search" placeholder="Rep Account" name="strRepAcc"
                                            class="form-control col-md-8" data-ng-model="strRepAccId"
                                            data-ng-change="fnSearchRepAccount()" tabindex="5">
                                        <input type="hidden" placeholder="Search" name="strRepAcc" class="form-control"
                                            data-ng-model="strRepAcc">
                                         <input type="search" placeholder="" aria-describedby="button-addon1" class="form-control col-md-3" data-ng-model="strAccid" tabindex="5">
                                        <ul class="list-group" id="list-group-rep" ng-model="hidethisrep"
                                            ng-hide="hidethisrep">
                                            <li class="list-group-item list-group-item-action"
                                                ng-repeat="rAcc in repAccList" ng-click="fnRepAccItem($event)"
                                                data-name="{{rAcc.NAME}}" data-id="{{rAcc.ID}}">{{rAcc.NAME}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">State</label>
                                    <div class="col-md-8">
                                          <select id="strStateId" class="form-control custom-select"
                                            ng-model="selectedState" tabindex="6"
                                            data-ng-change="fnchangeState(selectedState)">
                                            <option value="">[Choose One]</option>
                                            <option data-ng-repeat="state in statelist" value="{{state.codeId}}">
                                                {{state.codeNm}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
			    </div>
			    
			    <div class="row" id="revTrackDtPick-Div">
			    <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-4">Order Date</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker" data-ng-model="strOrderFDate" id="orderFDate"  placeholder="mm/dd/yyyy" tabindex="7">
                                                <div class="input-group-append orderFDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                 <span id="span-empty_ordFdt-err" style="color:red" class="hide">Please Select From Date for Order Date Field</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-2">To</label>
                                        <div class="col-md-7">
                                     <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker" data-ng-model="strOrderTDate"  id="orderTDate" placeholder="mm/dd/yyyy" tabindex="8">
                                                  <div class="input-group-append orderTDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                <span id="span-empty_ordTdt-err" style="color:red" class="hide">Please Select To Date for Order Date Field</span>
                                          		<span id="span-dt_compare_ordFdt-err" style="color:red" class="hide">To Date should be greater than or equal to From Date for Order Date</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        			    </div>
			    <div class="row">
               <button id="btnCollapseFilter" class="btn btn-xs btn-outline-dark collapsed" type="button"  data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" data-ng-click="fnColapseFilter()" tabindex="9">
             </button>
             </div>
              <div class="collapse" id="collapseFilter">
                        <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Field Sales</label>
                                        <div class="col-md-8" id="revTrackDist-div">
                                            <input type="search" placeholder="Search" name="strFieldSales"
                                            class="form-control" data-ng-model="strFieldSalesId"
                                            data-ng-change="fnSearchFieldSales()" tabindex="10">
                                        <input type="hidden" placeholder="Search" name="strFieldSales"
                                            class="form-control" data-ng-model="strFieldSales">
                                        <ul class="list-group" id="list-group-field" ng-model="hidethisfield"
                                            ng-hide="hidethisfield">
                                            <li class="list-group-item list-group-item-action"
                                                ng-repeat="fieldSales in fieldSalesList"
                                                ng-click="fnFieldSalesItem($event)" data-name="{{fieldSales.NAME}}"
                                                data-id="{{fieldSales.ID}}">{{fieldSales.NAME}}</li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Sales Rep</label>
                                        <div class="col-md-8" id="revTrackRep-div">
                                           <input type="search" placeholder="Search" name="strSalesRep"
                                            class="form-control" data-ng-model="strSalesRepId"
                                            data-ng-change="fnSearchSalesRep()" tabindex="11">
                                        <input type="hidden" placeholder="Search" name="strSalesRep"
                                            class="form-control" data-ng-model="strSalesRep">
                                        <ul class="list-group" id="list-group-sales" ng-model="hidethissales"
                                            ng-hide="hidethissales">
                                            <li class="list-group-item list-group-item-action"
                                                ng-repeat="salesRep in salesRepList" ng-click="fnSalesRepItem($event)"
                                                data-name="{{salesRep.NAME}}" data-id="{{salesRep.ID}}">
                                                {{salesRep.NAME}}</li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                                 
                            </div>
                </div>
                <div class="row">
                <div class="col-12">
			     <div class="form-group-line float-right lblalignment" id="btn-load-div">
			     <button class="btn btn-outline-secondary" type="button" data-ng-click="fnClearAllField()" data-toggle="modal" class="model_img img-responsive" style="margin-right:7px;" tabindex="15">Clear</button>
                                <button class="btn btn-info " type="button" class="model_img img-responsive"
                               data-ng-click="fnRevenueReportModel()"     tabindex="13">Load 
                                </button>
                            </div>
			    </div>
                </div>
			</div>
			<div class="col-12">
			<div id="preloader-spin" style="text-align: center;">
            <div class='card-body pt-2 pb-2 w-100'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
        </div>
        </div>
			
			<div class="card-body pt-2 pb-2 w-100">
					<div  style="display: none; " id="excel-export-div"> <button class="btn btn-secondary" type="button" class="model_img img-responsive"
                               data-ng-click="fnExportXlsx()" >Export Excel<i class="fa fa-download" aria-hidden="true" title="Export as Excel"></i> 
                                </button></div>
                    <div id="revenu-track-report" ></div>
                     <div id="no-data-found" class="text-center">No data found</div> 
                    </div>
			
                <div class="col-12">
			     <div class="form-group-line" id="btn-approve-div" style="text-align: center;display: none;">
			      <button class="btn btn-info " type="button" class="model_img img-responsive"
                               data-ng-click="fnRevenueTrackApprove()" ng-disabled="AccessFl==='N'"   tabindex="13">Approve 
                                </button>
                            </div>
			    </div>
			</div>
    				</form>
    			</div>
    		</div>
   		 </div>
    </section>
    
  </div>  