<!-- 
/* 
 * gmtOrdersPendingPO.html : This used for load Orders Pending PO details with PO Entry Screen Info 
 * @author Jayaprasanth Gurunathan
*/ 
-->
<!--
<div id="gmPreLoader" class="preloader">
	<div class="loader">
		<div class="loader__figure"></div>
		<p class="loader__label">Loading...</p>
	</div>
</div>
-->

<div class="page-wrapper" id="gmturreport">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor" style="font-weight: 500;">Orders Pending PO</h3>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#/">Home</a></li>
                        <li class="breadcrumb-item active">Orders Pending PO</li>
                        <li class="help-icon"><i class="fa fa-question-circle" aria-hidden="true" onclick="fnHelp('wikipendingpo');" title="Help"></i></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="row">
        <div id="pending-po-main" class="col-12">
            <div class="mb-0 card">
                <div class="card-body">
                    <form class="form-body needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right  col-md-3 ">
                                    <!-- <span class="text-danger">* </span> -->
                                    Company</label>
                                    <div class="col-md-8">
                                        <select id="strCompanyId" class="form-control custom-select" ng-model="selectedCompany" tabindex="1" data-ng-change="fnchangeCompany(selectedCompany)">
                                           <!--  <option value="">[Choose One]</option> -->
                                            <option data-ng-repeat="comp in compList" value="{{comp.companyId}}">
                                                {{comp.companyName}}</option>
                                        </select>
                                       <!--  <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Rep Account</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Account Name" name="strRepAcc" class="form-control col-md-8" data-ng-model="strRepAccId" data-ng-change="fnSearchRepAccount()" tabindex="2">
                                        <input type="hidden" placeholder="Search" name="strRepAcc" class="form-control" data-ng-model="strRepAcc" >
                                        <input type="search" placeholder="ACC ID" aria-describedby="button-addon1" class="form-control col-md-3" data-ng-model="strAccid" tabindex="3">
                                        <ul class="list-group" id="list-group-rep"  ng-model="hidethisrep" ng-hide="hidethisrep">
                                            <li class="list-group-item list-group-item-action" ng-repeat="rAcc in repAccList" ng-click="fnRepAccItem($event)" data-name="{{rAcc.NAME}}" data-id="{{rAcc.ID}}">{{rAcc.NAME}}</li> 
                                        </ul> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Parent Account</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Search" name="strParentAcc" class="form-control" data-ng-model="strParentAccId" data-ng-change="fnSearchParentAccount()" tabindex="4">
                                        <input type="hidden" placeholder="Search" name="strParentAcc" class="form-control" data-ng-model="strParentAcc" >
                                        <ul class="list-group" id="list-group-acc" ng-model="hidethisacc" ng-hide="hidethisacc">
                                            <li class="list-group-item list-group-item-action" ng-repeat="pAcc in parentAccList" ng-click="fnParentAccItem($event)" data-name="{{pAcc.NAME}}" data-id="{{pAcc.ID}}">{{pAcc.NAME}}</li> 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                         </div>
                            <div class="row">
	                            
                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">DO ID</label>
                                        <div class="col-md-8">
                                            <input type="search" placeholder="" aria-describedby="button-addon1" class="form-control" data-ng-model="strOrdId" tabindex="5" data-ng-change="fnClearDateField(strOrdId);">
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">PO#</label>
                                        <div class="col-md-8">
                                            <input type="search" placeholder="" aria-describedby="button-addon1" maxlength="50" class="form-control" data-ng-model="strPONumber" tabindex="6">
                                        </div>
                                    </div>
                             	</div> 
                             	<div class="col-md-3">
	                                    <div class="form-group row form-group-line">
	                                        <label class="control-label mt-2 text-right col-md-4">Order Date</label>
	                                        <div class="col-md-7">
	                                            <div class="input-group">
	                                                <input type="text" class="form-control inputDatePicker" data-ng-model="strOrderFDate" id="orderFDate" placeholder="mm/dd/yyyy" tabindex="7">
	                                                <div class="input-group-append orderFDate">
	                                                    <span class="input-group-text"> <i class="icon-calender"></i>
	                                                    </span>
	                                                </div>
	                                                 <span id="span-empty_ordFdt-err" style="color:red" class="hide">Please Select From Date for Order Date Field</span>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
                             	 <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-2">To</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker" data-ng-model="strOrderTDate" id="orderTDate" placeholder="mm/dd/yyyy" tabindex="8">
                                                  <div class="input-group-append orderTDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                <span id="span-empty_ordTdt-err" style="color:red" class="hide">Please Select To Date for Order Date Field</span>
                                          		<span id="span-dt_compare_ordFdt-err" style="color:red" class="hide">To Date should be greater than or equal to From Date for Order Date</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <button id="btnCollapseFilter" class="btn btn-xs btn-outline-dark collapsed" type="button"  data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" data-ng-click="fnColapseFilter()" tabindex="9">
                            </button>
                        </div>
                        <section class="collapse" id="collapseFilter">
                         <div class="row">
                           <div class="col-md-3">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Total >=</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="" aria-describedby="button-addon1" class="form-control" data-ng-model="strTotalAmount" data-ng-change="fnValidateTotal(strTotalAmount);" tabindex="10">
                                        <span id="span-total-err" style="color:red" class="hide">Please Enter the Numeric Value</span>
                                    </div>
                                </div>
                           </div>
                             <div class="col-md-3">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Division</label>
                                    <div class="col-md-8">
                                        <select class="form-control custom-select" data-ng-model="strDivisionId" tabindex="11">
                                            <option value="">[Choose One]</option>
                                            <option data-ng-repeat="divlist in divisionList" value="{{divlist.divisionId}}">{{divlist.divisionName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-4">Surgery Date</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker" data-ng-model="strSurgeryFDate" id="surgeryFDate" placeholder="mm/dd/yyyy" tabindex="12"> 
                                                <div class="input-group-append surgeryFDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                <span id="span-empty_surFdt-err" style="color:red" class="hide">Please Select From Date for Surgery Date Field</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-2">To</label>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker" data-ng-model="strSurgeryTDate" id="surgeryTDate" placeholder="mm/dd/yyyy" tabindex="13">
                                                <div class="input-group-append  surgeryTDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                 <span id="span-empty_surTdt-err" style="color:red" class="hide">Please Select To Date for Surgery Date Field</span>
                                                 <span id="span-dt_compare_surFdt-err" style="color:red" class="hide">To Date should be greater than or equal to From Date for Surgery Date</span>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
	                            <div class="col-md-4">
	                                <div class="form-group row form-group-line">
	                                    <label class="control-label mt-2 text-right col-md-3">Field Sales</label>
	                                    <div class="col-md-8">
	                                        <input type="search" placeholder="Search" name="strFieldSales" class="form-control" data-ng-model="strFieldSalesId" data-ng-change="fnSearchFieldSales()" tabindex="14">
	                                        <input type="hidden" placeholder="Search" name="strFieldSales" class="form-control" data-ng-model="strFieldSales" >
	                                        <ul class="list-group" id="list-group-field"  ng-model="hidethisfield" ng-hide="hidethisfield" >
	                                            <li class="list-group-item list-group-item-action" ng-repeat="fieldSales in fieldSalesList" ng-click="fnFieldSalesItem($event)" data-name="{{fieldSales.NAME}}" data-id="{{fieldSales.ID}}">{{fieldSales.NAME}}</li> 
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-md-4">
	                                <div class="form-group row form-group-line">
	                                    <label class="control-label mt-2 text-right col-md-3">Sales Rep</label>
	                                    <div class="col-md-8">
	                                        <input type="search" placeholder="Search" name="strSalesRep" class="form-control" data-ng-model="strSalesRepId" data-ng-change="fnSearchSalesRep()" tabindex="15">
	                                        <input type="hidden" placeholder="Search" name="strSalesRep" class="form-control" data-ng-model="strSalesRep" >
	                                         <ul class="list-group" id="list-group-sales" ng-model="hidethissales" ng-hide="hidethissales">
	                                            <li class="list-group-item list-group-item-action" ng-repeat="salesRep in salesRepList" ng-click="fnSalesRepItem($event)" data-name="{{salesRep.NAME}}" data-id="{{salesRep.ID}}">{{salesRep.NAME}}</li> 
	                                        </ul> 
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-md-4">
	                                <div class="form-group row form-group-line">
	                                    <label class="control-label mt-2 text-right  col-md-3 ">
	                                    Order Mode</label>
	                                    <div class="col-md-8">
	                                        <select id="strOrderMode" class="form-control custom-select" ng-model="strOrderMode" tabindex="16" >
	                                            <option value="">[Choose One]</option>
	                                            <option data-ng-repeat="mode in strOrderModeList" value="{{mode.codeId}}">
	                                                {{mode.codeNm}}</option>
	                                        </select>
	                                       <!--  <div class="valid-feedback">Valid.</div>
	                                        <div class="invalid-feedback">Please fill out this field.</div> -->
	                                    </div>
	                                </div>
	                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right  col-md-3 ">
                                    Status</label>
                                    <div class="col-md-8">
                                        <select class="form-control custom-select" ng-model="strPOStatusId" tabindex="17" >
                                            <option value="">[Choose One]</option>
                                            <option data-ng-repeat="status in strPOStatusList" value="{{status.codeId}}">
                                                {{status.codeNm}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>   
                        </section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group-line float-right">
                                    <button class="btn btn-outline-secondary" type="button" data-ng-click="fnClearAllField()" data-toggle="modal" class="model_img img-responsive" tabindex="17">Clear</button>
                                    <button class="btn btn-info " type="submit" data-ng-click="fnLoadOrdersPedingPOReport()" data-toggle="modal" data-target="#LoadAlert" class="model_img img-responsive" tabindex="18">Load
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="card-body pt-2 pb-2 w-100">
                    <div class="dhx_sample-controls float-right">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Show/Hide
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentAcc" checked>Parent Account
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentAccId">Parent Account Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentOrdId" checked>Parent Order Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strHoldFl" checked>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strOrderId" checked>DO Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strOrdDT" checked>Order Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strTotal" checked>Total
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strOrdReceiveMode" checked>Order Mode
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPONumber" checked>PO Number
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strSalesRep" checked>Sales Rep
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strSurgeryDt">Surgery Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strRepAcc">Rep Account
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strFieldSales">Field Sales
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strADName">AD Name
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strVPName">VP Name
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strOrdertype">Order Type
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strAccid" checked>Rep Account Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOEnteredDate">PO Entry Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strCustPOUpdatedBy">PO Entered By
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="text-right">
                            <div class="form-group-line">
                                <button class="btn btn-info" id="btn-excel" data-ng-click="exportXlsx()">Export to Excel</button>
                            </div>
                        </div>

                    </div>

                    <div id="orders-pending-po-results" class="w-100 "></div>
                     <div id="no-data-found" class="text-center">No data found</div>
                    </div>
                  
            </div>
        </div>
        <div id="preloader-spin">
            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
        </div>
        <div id="po-entry-main" style="display: none;">
            <div class="card">
                <div class="card-body">
                    <div class="card ">
                        <div class="form-body" id="PODetails">
                            <div class="row nav-tabs">
                                <div class="col-md-6 text-left">
                                    <i class="fas fa-sync-alt text-muted px-3 pb-2 align-middle" title="Refresh" data-ng-click="fnRefreshRightPanel()"></i>
                                </div>
                                <div class="col-md-6 text-right">
                                    <i class="fas fa-times text-muted px-3 pb-2 align-middle" title="Close" data-ng-click="fnCloseRightPanel()"></i>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label mt-2 lbl-bold lbl-size1 err-span" >{{errorMessage}}</label>
                                <label class="control-label mt-2  col-md-6 lbl-bold lbl-size1" style="color: green;margin-left: 100px;">{{successMsg}}</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2  col-md-3  lbl-bold lbl-size1  text-right">Order ID : </label>
                                        <label class="control-label mt-1  col-md-9 ">
<!--                                            <a data-ng-click="fnSummaryDO(strOrderId)" class="text-info" >{{strOrderId}}</a>-->
                                               <span ng-if="strParentOrdId"> <a data-ng-click="fnSummaryDO(strParentOrdId)" class="text-info" style='vertical-align: middle;'>{{strOrderId}}</a></span>
                                            <span ng-if="!strParentOrdId"> <a data-ng-click="fnSummaryDO(strOrderId)" class="text-info" >{{strOrderId}}</a></span>
                                        <span ng-if="strOrdReceiveMode==26230683" id="pdf-span"><a id="do-pdf-url" ng-href="{{strDOPDFURL}}"><img src="../images/pdf_icon.gif" aria-hidden="true" data-toggle="modal" title="Download Pdf" /></a></span>
										<span id="poFmt-span" class="mdi mdi-receipt" data-ng-click="fnPODetailView()" style='cursor:pointer;color:#008000;font-size:19px;vertical-align: middle;' title="Account PO Format"></span></label>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-6 lbl-bold lbl-size1 text-right">Amount : </label>
                                        <label class="control-label mt-2 col-md-6"><span ng-if="strTotal>=0"> {{strTotal | currency: strcurrencyNm}}</span>
                                        <span style="color:red" ng-if="strTotal<0" >{{strMinTotal | currency: strcurrencyNm}}</span></label>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-6 lbl-bold text-right">Shipping Charge : </label>
                                        <label class="control-label mt-2 col-md-6"><span>{{strShipCost | currency: strcurrencyNm}}</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line" id="po-num-div">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">PO Number :</label>
                                        <div class="col-md-7">
                                            <input type="text" data-ng-model="strCustomerPo" id="strCustomerPo" maxlength="50" tabindex="19" class="form-control" ng-blur="fnPOCheck();" data-ng-disabled="editFl==='N'">
                                        </div>
                                        <div id="preloader-for-ponum">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>
                                        <span ng-if="poCheckFlag==='Y'" class="i-span"><i class="fas fa-times" style="color: red" data-ng-click="fnClearPONum();" title="Clear PO Number"></i>
                                            <img src="../images/location.png" data-ng-click="poDrillDownModal()" title="PO Existing History"></span>
<!--                                            <i class="fa fa-history" aria-hidden="true" data-toggle="modal" ></i></span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">PO Amount :</label>
                                        <div class="col-md-7">
                                            <input type="text" data-ng-model="strPOAmt" id="strPOAmt" maxlength="50" class="form-control text" tabindex="20" ng-disabled="editFl==='N'" ng-blur="fnPOAmtSave();" ng-change="fnPOAmtValidation();">
                                            <span id="span-po-amt-err" class="hide">Enter Number Only</span>
                                        </div>
                                        <div id="preloader-for-poamt">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="preloader-spin-po">
                                <div class='w-100 text-center'><i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                            </div>

                            <div class="row loader-hide">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">PO :</label>
                                        <div class="col-md-7">
                                            <select class="form-control custom-select" data-ng-model="orderPODtls" tabindex="21" data-ng-change="fnsaveOrderRevDtls('PO');" ng-disabled="editFl==='N'">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="div in poDtlList" value="{{div.codeId}}">{{div.codeNm}}</option>
                                            </select>
                                        </div>
                                        <div id="preloader-for-po">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>
                                        <span ng-if="poHistFl==='Y'" class="i-span"><img src="../images/icon_History.gif" aria-hidden="true" data-toggle="modal" title="PO Log History Details" data-ng-click="auditLogModal('1241')"/></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row loader-hide">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">DO :</label>
                                        <div class="col-md-7">
                                            <select class="form-control custom-select" data-ng-model="orderDODtls" id="orderDODtls" tabindex="22" data-ng-change="fnsaveOrderRevDtls('DO');" ng-disabled="editFl==='N'">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="div in doDtlList" value="{{div.codeId}}">{{div.codeNm}}</option>
                                            </select>
                                        </div>
                                        <div id="preloader-for-do">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>
                                        <span ng-if="doHistFl==='Y'" class="i-span"><img src="../images/icon_History.gif" aria-hidden="true" title="DO Log History Details" data-toggle="modal" data-ng-click="auditLogModal('1242')"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label mt-2 col-md-4 lbl-bold"><span class="text-danger text-right"></span>Comments</label>
                                <textarea class="form-control rounded-0" data-ng-model="strComments" tabindex="23" id="exampleFormControlTextarea2"  rows="3" ng-disabled="editFl==='N'" maxlength="4000"></textarea>
                                <div id="preloader-for-comments">
                                    <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="comments-icon-div">
                                <div class="form-group-line float-right">
                                    <button class="btn btn-outline-secondary" type="button" data-ng-click="fnClearComments()" data-toggle="modal" class="model_img img-responsive" tabindex="24">Clear</button>
                                    <button class="btn btn-info " type="submit" data-ng-click="saveLogComments()" data-toggle="modal" data-target="#LoadAlert" class="model_img img-responsive" tabindex="25">Add
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive-sm" style="position: relative; overflow: auto; width: 100%; height: 175px;">
                                <table class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">User Name</th>
                                            <th scope="col">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody data-spy="scroll">
                                        <tr data-ng-repeat="comment in commentsList">
                                            <th>{{comment.strUpdatedDate}}</th>
                                            <td>{{comment.strUpdatedBy}}</td>
                                            <td>{{comment.comments}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                         <div class="row" id="vault-div">
                            <div class="col-md-12">
                                <div class="form-group row form-group-line">
                                    <div class="col-md-12" id="dhtmlxvault-file-upload-po"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row div-center">
                             <div class="err-lbl">{{validatePONumMsg}}</div>
                             <div class="err-lbl">{{validateCommentsMsg}}</div>
                             <div class="err-lbl">{{validatePOAmtMsg}}</div>
                        </div>
                        <hr>
                        <div class="row" id="btn-div">
                            <div class="col-md-6" id="ready-btn"><button type="button" tabindex="26" data-ng-click="fnSavePOStatus('109542')" class="btn btn-info h-100 w-100"  ng-disabled="statusFl==='N'">Ready For Invoicing</button></div>
                            <div class="col-md-6" id="move-dis-btn"><button type="button" tabindex="27" data-ng-click="fnSavePOStatus('109544')" class="btn btn-warning h-100 w-100"  ng-disabled="statusFl==='N'">Move to Discrepancy</button></div>
                            <div class="col-md-3"><button type="button" data-ng-click="fnRejectPO()" class="btn btn-danger h-100 w-100" id="reject-po">Reject</button></div>
                        </div>
                    </div>
                    <!--                </div>-->
                </div>
            </div>
        </div>
<!--       Audit Log Details Popup-->
        <div id="auditLogModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter">Order Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="auditLogModalTable" class="table table-bordered table-striped tables-responsive">
                                            <thead>
                                                <tr>
                                                    <thead>
                                                        <tr>
                                                            <th>Transaction ID</th>
                                                            <th>Transaction Name</th>
                                                            <th>Updated By</th>
                                                            <th>Updated Date</th>
                                                        </tr>
                                                    </thead>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="auditlis in auditHistoryList">
                                                    <td>{{auditlis.refId}}</td>
                                                    <td>{{auditlis.refValue}}</td>
                                                    <td>{{auditlis.updatedBy}}</td>
                                                    <td>{{auditlis.updatedDate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div id="poDrillDownModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter">Order Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="drillDownTable" class="table table-bordered table-striped tables-responsive">
                                            <thead>
                                                <tr>
                                                    <th width="100px">Order ID</th>
                                                    <th width="100px">Account</th>
                                                    <th width="100px">Order Date</th>
                                                    <th width="100px">Total</th>
                                                    <th width="100px">Type</th>
                                                    <th width="100px">Order By</th>
                                                    <th width="100px">Ship Date</th>
                                                    <th width="100px">Tracking#</th>
                                                    <th width="100px">Customer PO</th>
                                                    <th width="100px">Parent Order Id</th>
                                                    <th width="100px">Invoice Id</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="drillLis in drilDownList">
                                                    <td>{{drillLis.strOrderId}}</td>
                                                    <td>{{drillLis.strRepAcc}}</td>
                                                    <td>{{drillLis.strOrdDT}}</td>
                                                    <td>{{drillLis.strTotal | currency: strcurrencyNm}}</td>
                                                    <td>{{drillLis.strOrdertype}}</td>
                                                    <td>{{drillLis.strUserName}}</td>
                                                    <td>{{drillLis.strShipDt}}</td>
                                                    <td>{{drillLis.strShipTrack}}</td>
                                                    <td>{{drillLis.strCustPONumber}}</td>
                                                    <td>{{drillLis.strParentOrdId}}</td>
                                                    <td>{{drillLis.strInvoice}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
            <!--Popup window Start-->
        <div class="modal fade" id="divCommonCancel" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup" aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Reject PO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row form-group-line">
                                <label class="control-label col-md-4">Transaction ID: </label>
                                <label class="control-label" data-ng-model="strVoidTxnId"> {{strCustomerPo}}</label>
                            </div>
                            <div class="form-group row form-group-line">
                                <label for="recipient-name" class="col-form-label col-md-2">Reason:</label>
                                <div class="col-md-10">
                                <select class="form-control custom-select" data-ng-model="strVoidReasonId" tabindex="2">
                                    <option value="">[Choose One]</option>
                                    <option data-ng-repeat="cancelReson in rejCommentsLogList"value="{{cancelReson.codeId}}">{{cancelReson.codeNm}}</option>
                                </select>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"  rows="4"  data-ng-model="strVoidComments"></textarea>
                            </div>
                            <div class="span-err">{{validateReasonMsg}}</div>
                            <div class="span-err">{{validateReasonCommentsMsg}}</div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-ng-click="fnVoidSubmit()">Ok</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
          <div id="conFModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content" width="100%">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter">{{confirmheader}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <span>{{confirmMsg}}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info"
											data-dismiss="modal" data-ng-click="confirmPOStatus()">OK</button>
										<button type="button" class="btn btn-danger waves-effect"
											data-dismiss="modal" >Cancel</button>
										
				    </div>
                    
                </div>
            </div>
        </div>
          <div id="conPOModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content" width="100%">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter">Entered PO Number : &nbsp;{{strCustomerPo}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle" ></i>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <span>{{confirmPOMsg}}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info"
											data-dismiss="modal" data-ng-click="confirmPONumber()">OK</button>
										<button type="button" class="btn btn-danger waves-effect"
											data-dismiss="modal" data-ng-click="ConfirmPOCancel()">Cancel</button>
										
				    </div>
                    
                </div>
            </div>
        </div>

        <div id="fileDeleteConfirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter">File Delete Confirmation</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle" ></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span>Do you want to remove this file?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" data-dismiss="modal"
                            id="modal-btn-fdelete_confirm">OK</button>
                        <button type="button" id="modal-btn-fdelete_cancel" class="btn btn-danger waves-effect"
                            data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="fileDeleteAllConfirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="vcenter">All File Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle" ></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span>Do you want to remove these files, continue?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info" data-dismiss="modal"
                            id="modal-btn-falldelete_confirm">OK</button>
                        <button type="button" id="modal-btn-falldelete_cancel" class="btn btn-danger waves-effect"
                            data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- PO Format Modal-->
        <div id="poFormatModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter"><b>Parent Account :</b> {{strPOFmtParrAccNm}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle" title="Close"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="poFormatTable" class="table table-bordered table-striped tables-responsive">
                                            <thead>
                                                <tr>
                                                    <th width="100px">Account ID</th>
                                                    <th width="100px">Invoice ID</th>
                                                    <th width="100px">Invoice Date</th>
                                                    <th width="100px">Customer PO</th>
                                                    <th width="100px">Invoice Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="poFmtListVal in poFormatList">
                                                    <td>{{poFmtListVal.strAccid}}</td>
                                                    <td>{{poFmtListVal.strInvoice}}</td>
                                                    <td>{{poFmtListVal.strInvoiceDt}}</td>
                                                    <td>{{poFmtListVal.strCustPONumber}}</td>
                                                    <td>{{poFmtListVal.strInvoiceAmt | currency: strcurrencyNm}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </section>
</div>
